<!-- Trending Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active"></li>
          <li class="active">Generic trends</li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img1.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Black Denim Skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url('../../../assets/img/trends/general/img2.jpg');
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Flared skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-4">
                <input type="radio" id="pc-4" />
              </label>
              <label class="active black" for="pc-5">
                <input type="radio" id="pc-5" />
              </label>
              <label class="grey" for="pc-6">
                <input type="radio" id="pc-6" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item sale">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img3.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Denim max-length skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$43.48</h5>
            <div class="product__color__select">
              <label for="pc-7">
                <input type="radio" id="pc-7" />
              </label>
              <label class="active black" for="pc-8">
                <input type="radio" id="pc-8" />
              </label>
              <label class="grey" for="pc-9">
                <input type="radio" id="pc-9" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img4.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Denim mini skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$49.66</h5>
            <div class="product__color__select">
              <label for="pc-19">
                <input type="radio" id="pc-19" />
              </label>
              <label class="active black" for="pc-20">
                <input type="radio" id="pc-20" />
              </label>
              <label class="grey" for="pc-21">
                <input type="radio" id="pc-21" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row product__filter">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img5.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Flared max length skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url('../../../assets/img/trends/general/img6.jpg');
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Black dress</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-4">
                <input type="radio" id="pc-4" />
              </label>
              <label class="active black" for="pc-5">
                <input type="radio" id="pc-5" />
              </label>
              <label class="grey" for="pc-6">
                <input type="radio" id="pc-6" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item sale">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img7.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>two-piece dress</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$43.48</h5>
            <div class="product__color__select">
              <label for="pc-7">
                <input type="radio" id="pc-7" />
              </label>
              <label class="active black" for="pc-8">
                <input type="radio" id="pc-8" />
              </label>
              <label class="grey" for="pc-9">
                <input type="radio" id="pc-9" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img8.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Black Denim min skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$49.66</h5>
            <div class="product__color__select">
              <label for="pc-19">
                <input type="radio" id="pc-19" />
              </label>
              <label class="active black" for="pc-20">
                <input type="radio" id="pc-20" />
              </label>
              <label class="grey" for="pc-21">
                <input type="radio" id="pc-21" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row product__filter">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img9.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>White skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url('../../../assets/img/trends/general/img10.jpg');
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Mini dress</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-4">
                <input type="radio" id="pc-4" />
              </label>
              <label class="active black" for="pc-5">
                <input type="radio" id="pc-5" />
              </label>
              <label class="grey" for="pc-6">
                <input type="radio" id="pc-6" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item sale">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img11.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Black jacket</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$43.48</h5>
            <div class="product__color__select">
              <label for="pc-7">
                <input type="radio" id="pc-7" />
              </label>
              <label class="active black" for="pc-8">
                <input type="radio" id="pc-8" />
              </label>
              <label class="grey" for="pc-9">
                <input type="radio" id="pc-9" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img12.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>White co-ord chic jumpsuit</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$49.66</h5>
            <div class="product__color__select">
              <label for="pc-19">
                <input type="radio" id="pc-19" />
              </label>
              <label class="active black" for="pc-20">
                <input type="radio" id="pc-20" />
              </label>
              <label class="grey" for="pc-21">
                <input type="radio" id="pc-21" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row product__filter">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img13.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Chic jumpsuit</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url('../../../assets/img/trends/general/img14.jpg');
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Red chic jumpsuit</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-4">
                <input type="radio" id="pc-4" />
              </label>
              <label class="active black" for="pc-5">
                <input type="radio" id="pc-5" />
              </label>
              <label class="grey" for="pc-6">
                <input type="radio" id="pc-6" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item sale">
          <div
            class="product__item__pic set-bg"
            style="
              background-image: url(../../../assets/img/trends/general/img15.jpg);
            "
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Chic cardigan</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$43.48</h5>
            <div class="product__color__select">
              <label for="pc-7">
                <input type="radio" id="pc-7" />
              </label>
              <label class="active black" for="pc-8">
                <input type="radio" id="pc-8" />
              </label>
              <label class="grey" for="pc-9">
                <input type="radio" id="pc-9" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Trending Section End -->

<!-- Recommendation for you Section Begin -->
<section class="product spad" *ngIf="isLoggedIn">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active"></li>
          <li class="active">Rcommendations for you</li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img1.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Chic top</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img2.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Two-piece dress</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-4">
                <input type="radio" id="pc-4" />
              </label>
              <label class="active black" for="pc-5">
                <input type="radio" id="pc-5" />
              </label>
              <label class="grey" for="pc-6">
                <input type="radio" id="pc-6" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item sale">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img3.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Three-piece dress</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$43.48</h5>
            <div class="product__color__select">
              <label for="pc-7">
                <input type="radio" id="pc-7" />
              </label>
              <label class="active black" for="pc-8">
                <input type="radio" id="pc-8" />
              </label>
              <label class="grey" for="pc-9">
                <input type="radio" id="pc-9" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img27.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Black flared jeans</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$49.66</h5>
            <div class="product__color__select">
              <label for="pc-19">
                <input type="radio" id="pc-19" />
              </label>
              <label class="active black" for="pc-20">
                <input type="radio" id="pc-20" />
              </label>
              <label class="grey" for="pc-21">
                <input type="radio" id="pc-21" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row product__filter">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img28.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Denim shorts</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img29.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Denim shorts</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-4">
                <input type="radio" id="pc-4" />
              </label>
              <label class="active black" for="pc-5">
                <input type="radio" id="pc-5" />
              </label>
              <label class="grey" for="pc-6">
                <input type="radio" id="pc-6" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item sale">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img30.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Max length denim skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$43.48</h5>
            <div class="product__color__select">
              <label for="pc-7">
                <input type="radio" id="pc-7" />
              </label>
              <label class="active black" for="pc-8">
                <input type="radio" id="pc-8" />
              </label>
              <label class="grey" for="pc-9">
                <input type="radio" id="pc-9" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img31.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>Mid length denim skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$49.66</h5>
            <div class="product__color__select">
              <label for="pc-19">
                <input type="radio" id="pc-19" />
              </label>
              <label class="active black" for="pc-20">
                <input type="radio" id="pc-20" />
              </label>
              <label class="grey" for="pc-21">
                <input type="radio" id="pc-21" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row product__filter">
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(../../../assets/img/trends/forYou/img32.jpg)"
          >
            <ul class="product__hover">
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/heart.png" alt=""
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/compare.png" alt="" />
                  <span>Compare</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="../../assets/img/icon/search.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6>White floral skirt</h6>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <h5>$67.24</h5>
            <div class="product__color__select">
              <label for="pc-1">
                <input type="radio" id="pc-1" />
              </label>
              <label class="active black" for="pc-2">
                <input type="radio" id="pc-2" />
              </label>
              <label class="grey" for="pc-3">
                <input type="radio" id="pc-3" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Recommendation for you Section End -->
